doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Creative - Start Bootstrap Theme

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // Third party plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Ibrahim Abdullah
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Services
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Masthead
        header.masthead
            .container.h-100
                .row.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-self-end
                        h1.text-uppercase.text-white.font-weight-bold
                        hr.divider.my-4
                    .col-lg-8.align-self-baseline
                        p.text-white-75.font-weight-light.mb-5
                            | So let not this present life decieve you | surah Fatir - Verse 5
                        a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Learn More about me?

        // About
        section#about.page-section.bg-primary
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.text-white.mt-0 About Me!
                        hr.divider.light.my-4
                        p.text-white-50.mb-4
                            | Throughout my life I’ve developed many skills and experiences. I was always intrigued with tech and started my career in hardware troublshooting problems. I was always hardworking and patient. I love tinkering on problems and finding solutions. This lead me to software devolpment and taking a three month intensive course. Life stops always gives oppurtunity to those who wish to obtain it. I have been in many jobs that weren't a great match, but in the end I am happy for all the experiences i've gained. I'm practical and honest, I don’t beat around the bush. I am ready to tackle whats next. 
                        a.btn.btn-light.btn-xl.js-scroll-trigger(href='#services') Next

        // Services
        section#services.page-section
            .container
                h2.text-center.mt-0 Services
                hr.divider.my-4
                .row
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-gem.text-primary.mb-4
                            h3.h4.mb-2 HTML
                            p.text-muted.mb-0 Skilled in HTML
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-gem.text-primary.mb-4
                            h3.h4.mb-2 CSS 
                            p.text-muted.mb-0 Skilled in CSS | Bootstrap | Flex-box and Design
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-globe.text-primary.mb-4
                            h3.h4.mb-2 Frameworks
                            p.text-muted.mb-0 Visual Studio | Sublime | Node | React | Express | Mongoose | EJS 
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-globe.text-primary.mb-4
                            h3.h4.mb-2 Database
                            p.text-muted.mb-0 MongoDB Express Moongoose
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-globe.text-primary.mb-4
                            h3.h4.mb-2 Managment and Deployment
                            p.text-muted.mb-0 Git | GitHub(Vesion Control) | Command Line | Heroku
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-globe.text-primary.mb-4
                            h3.h4.mb-2 Methodologies
                            p.text-muted.mb-0 Object Oriented Programming | MVC Pattern | Wire Framing | CRUD/REST 

        // Portfolio
        div#portfolio
            h2.text-center.mt-0 Projects
            hr.divider.my-4
            .container-fluid.p-0
                .row.no-gutters
                    
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/img6.jpg')
                            
                            img.img-fluid(src='assets/img/portfolio/thumbnails/img6.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | ChatLinxs 
                                    .project
                                        a(href='#')
                                        
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/img7.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/img7.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | EntryNote
                                
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/img5.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/img5.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Tamagachi
                                
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Wayferer
                                
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Card Collector
                                
                

        // Call to action
        section.page-section.bg-dark.text-white
            .container.text-center
                
                a.btn.btn-light.btn-xl(href='https://startbootstrap.com/theme/creative/') Download Resume!

        // Contact
        section#contact.page-section
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.mt-0 Let's Get In Touch!
                        hr.divider.my-4
                        p.text-muted.mb-5
                            | Give me a call or send an email and I will get back to you as soon as possible!
                .row
                    .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
                        i.fas.fa-phone.fa-3x.mb-3.text-muted
                        div +1 (872) 227-1317
                    .col-lg-4.mr-auto.text-center
                        i.fas.fa-envelope.fa-3x.mb-3.text-muted

                        // Make sure to change the email address in BOTH the anchor text and the link target below!
                        a.d-block(href='mailto:contact@yourwebsite.com') ibrahimabdull93@gmail.com

        // Footer
        footer.bg-light.py-5
            .container
                .small.text-center.text-muted Copyright © 2020 - Start Bootstrap

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')

        // Core theme JS
        script(src='js/scripts.js')
